@font-face {
    font-family: 'Diodrum Arabic';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url('./alfont_com_AlFont_com_DiodrumArabic-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Diodrum Arabic';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url('./alfont_com_AlFont_com_DiodrumArabic-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Diodrum Arabic';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url('./alfont_com_AlFont_com_DiodrumArabic-Semibold-1.woff2') format('woff2');
}

@font-face {
    font-family: 'Diodrum Arabic';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url('./alfont_com_AlFont_com_DiodrumArabic-Bold-1.woff2') format('woff2');
}