.gauge-component-class svg .value-text text {
  text-shadow: none !important;
  @apply !fill-black dark:!fill-white;
}

.gauge-component-class svg .pointer path {
  @apply !fill-black dark:!fill-white;
}

.gauge-component-class svg .marker text {
  text-shadow: none !important;
  @apply !fill-black dark:!fill-white;
}

.gauge-component-class svg .mark-value text {
  text-shadow: none !important;
  font-size: 12px !important;
  text-anchor: middle !important;
  @apply !fill-black dark:!fill-white;
}