@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply !bg-[#151515];
  @apply !border-l-4 !border-gray-300;
}

.active a {
  @apply !text-white;
}

.activesub {
  @apply !bg-[#151515];
  @apply !border-l-4 !border-gray-300;
}

.activesub a {
  @apply !text-white;
}

.activesub svg {
  @apply !fill-[#5e5e5e];
}

.gauge-component-class svg .value-text text {
  text-shadow: none !important;
  @apply !fill-black dark:!fill-white;
}
.gauge-component-class svg .pointer path {
  @apply !fill-black dark:!fill-white;
}

.gauge-component-class svg .marker text {
  text-shadow: none !important;
  @apply !fill-black dark:!fill-white;
}

.gauge-component-class svg .mark-value text {
  text-shadow: none !important;
  font-size: 12px !important;
  text-anchor: middle !important;
  @apply !fill-black dark:!fill-white;
}
.apexcharts-text{
  @apply dark:!fill-white;
}
.apexcharts-legend-text{
  @apply dark:!text-white;
}
.apexcharts-toolbar svg{
  @apply dark:!fill-white;
}
.apexcharts-menu.apexcharts-menu-open{
  @apply dark:!bg-gray-800;
  @apply dark:!text-white;
}
.apexcharts-theme-light .apexcharts-menu-item:hover {
  @apply dark:!bg-gray-500;
}
.apexcharts-tooltip, .apexcharts-tooltip .apexcharts-tooltip-series-group.active .apexcharts-tooltip.apexcharts-theme-light{
  @apply dark:!bg-gray-800;
  @apply dark:!text-white;
  @apply dark:!border-gray-950;
}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  @apply dark:!bg-gray-800;
  @apply dark:!text-white;
  @apply dark:!border-b-[1px];
  @apply dark:!border-gray-950;
}
.apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom.apexcharts-theme-light{
  @apply dark:!bg-gray-800;
  @apply dark:!text-white;
  @apply dark:!border-b-[1px];
  @apply dark:!border-gray-950;
}
.apexcharts-xaxistooltip-bottom:after {
  @apply dark:!border-b-gray-800
}
.apexcharts-xaxistooltip-bottom:before {
  @apply dark:!border-b-gray-950
}