@import "./base/core/mixins/main-menu-mixin.scss";
.scroll-top {
  right: 30px;
}
.scroll-to-top {
  div:first-of-type {
    left: auto !important;
    right: 30px;
  }
}
.scroll-top {
  position: fixed;
  bottom: 5%;
  right: 30px;
  display: none;
  z-index: 99;
}
.btn-icon {
  padding: 0.8rem;
  i,
  svg {
    height: $font-size-base;
    width: $font-size-base;
  }
}
.btn.btn-icon {
  padding: 0.715rem 0.736rem;
}
.btn-primary {
  border-color: #7367f0 !important;
  background-color: #7367f0 !important;
}
